<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="car-service" transaction-type="RESOURCE_LOCAL">

        <class>com.egorl.car_service.entity.Country</class>
        <class>com.egorl.car_service.entity.CarDealer</class>
        <class>com.egorl.car_service.entity.Color</class>
        <class>com.egorl.car_service.entity.CarMake</class>
        <class>com.egorl.car_service.entity.CarEquipment</class>
    </persistence-unit>
</persistence>
